body {
    background-color: antiquewhite;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 50px;
    text-align: center;
}

#nav-container {
    background-color: darkseagreen;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    a {
        margin: 10px;
    }
}

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}