h1 {
    text-align: center;
    color: blue
}

h2 {
    margin-top: 50px;
    text-align: center;
}

nav {
    text-align: center;
    a {
        color: red;
        margin: 10px;
    }
}

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}