<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>

    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audiences">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
        </nav>
    </div>

    <main>
        <h2>This is the Actors page</h2>
        <table>
            <thead>
                <tr>
                    <th>Actor ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Movie Appearances</th>
                    <th>Delete / Edit Row</th>
                </tr>
            </thead>

            <tbody>
                {% for actor in actors %}
                <tr>
                    <td>{{actor.idActor}}</td>
                    <td>{{actor.firstName}}</td>
                    <td>{{actor.lastName}}</td>
                    <td>{{actor.middleName}}</td>
                    <td>
                        [
                            {% for entry in intersection_data %}
                                {% if actor.idActor == entry.idActor %}
                                    {% for movie in movie_titles %}
                                        {% if movie.idMovie == entry.idMovie %}
                                            {{movie.title}};
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        ]
                    </td>
                    <td>

                        <a href="{{ url_for('update_actor_page', idActor=actor.idActor) }}">
                            <button style="background-color: greenyellow;" type="button">Edit</button>
                        </a>
                        <form action="{{ url_for('delete_actor_route', idActor=actor.idActor) }}" method="POST" style="display:inline;">
                            <button style="background-color: red;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Insert Actor</h3>
        <form action="{{ url_for("actors_page")}}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="firstname" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="lastname" required>

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" placeholder="middlename">

            <label for="movie_appearances">Movie appearances (hold down CTRL to select multiple):</label>
            <select id="movie_appearances" name="movie_appearances" multiple>
                {% for movie in movies %}
                    <option value="{{movie.title}}">{{movie.title}}</option>
                {% endfor %}
            </select>

            <button type="submit">Add Actor</button>
        </form>
    </main>
</body>

</html>