<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>
    <header>
        <h1>Top 50 Movies of the 2000s</h1>
    </header>

    <nav>
        <a href="/">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
        <a href="/actors">Actors</a>
        <a href="/audiences">Audiences</a>
        <a href="/audience_reviews">Audience Reviews</a>
        <a href="/movies_has_directors">Movies_has_Directors</a>
        <a href="/movies_has_actors">Movies_has_Actors</a>
    </nav>

    <main>
        <h2>This is the Actors page</h2>
        <table>
            <thead>
                <tr>
                    <th>idActor</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>middleName</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for actor in actors %}
                <tr>
                    <td>{{actor.idActor}}</td>
                    <td>{{actor.firstName}}</td>
                    <td>{{actor.lastName}}</td>
                    <td>{{actor.middleName}}</td>
                    <td>
                        <button onclick="" style="background-color: greenyellow;" type="submit">Edit</button>

                        <button style="background-color: red;" type="submit">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Insert Actor</h2>
        <form action="{{ url_for("actors_page")}}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="firstname">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="lastname">

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" placeholder="middlename">

            <button type="submit">Add Actor</button>
        </form>
    </main>
</body>

</html>