<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>
    <header>
        <h1>Top 50 Movies of the 2000s</h1>
    </header>

    <nav>
        <a href="/">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
        <a href="/actors">Actors</a>
        <a href="/audiences">Audiences</a>
        <a href="/audience_reviews">Audience Reviews</a>
        <a href="/movies_has_directors">Movies_has_Directors</a>
        <a href="/movies_has_actors">Movies_has_Actors</a>
    </nav>

    <main>
        <h2>This is the Audiences page</h2>
        <table>
            <thead>
                <tr>
                    <th>idAudience</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>middleName</th>
                    <th>email</th>
                </tr>
            </thead>

            <tbody>
                {% for audience in audiences %}
                <tr>
                    <td>{{audience.idAudience}}</td>
                    <td>{{audience.firstName}}</td>
                    <td>{{audience.lastName}}</td>
                    <td>{{audience.middleName}}</td>
                    <td>{{audience.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>