<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>

    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audiences">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
        </nav>
    </div>

    <main>
        <h2>This is the Audiences page</h2>
        <table>
            <thead>
                <tr>
                    <th>Audience ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Email</th>
                    <th>Edit / Delete Row</th>
                </tr>
            </thead>

            <tbody>
                {% for audience in audiences %}
                <tr>
                    <td>{{audience.idAudience}}</td>
                    <td>{{audience.firstName}}</td>
                    <td>{{audience.lastName}}</td>
                    <td>{{audience.middleName}}</td>
                    <td>{{audience.email}}</td>
                    <td>
                        <a href="{{ url_for('update_audience_page', idAudience=audience.idAudience) }}">
                            <button style="background-color: greenyellow;" type="button">Edit</button>
                        </a>
                        <form action="{{ url_for('delete_audience_route', idAudience=audience.idAudience) }}" method="POST" style="display:inline;">
                            <button style="background-color: red;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <h3>Insert Audience Member</h3>
        <form action="{{ url_for("audiences_page")}}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="firstname">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="lastname">

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" placeholder="middlename">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="email">

            <button type="submit">Add Audience</button>
        </form>
    </main>
</body>

</html>