<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>
<body>
    
    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audience">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
        </nav>
    </div>

    <main>
        <h2>This is the Audience Reviews page</h2>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Audience Review ID</th>
                        <th>Movie Title</th>
                        <th>Audience Member</th>
                        <th>Review</th>
                        <th>Stars (1-5)</th>
                    </tr>
                </thead>
                <tbody>
                {% for review in audience_reviews %}
                <tr>
                    <td>{{review.idAudienceReview}}</td>
                    <td>{{movie_titles[review.idMovie - 1].title}}</td>
                    <td>{{audience_names[review.idAudience - 1].firstName + " " + audience_names[review.idAudience - 1].lastName}}</td>
                    <td>{{review.review}}</td>
                    <td>{{review.stars}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>