<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>
    <header>
        <h1>Top 50 Movies of the 2000s</h1>
    </header>

    <nav>
        <a href="/">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
        <a href="/actors">Actors</a>
        <a href="/audiences">Audiences</a>
        <a href="/audience_reviews">Audience Reviews</a>
        <a href="/movies_has_directors">Movies_has_Directors</a>
        <a href="/movies_has_actors">Movies_has_Actors</a>
    </nav>

    <main>
        <h2>This is the Audience Reviews page</h2>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Audience Review ID</th>
                        <th>Movie</th>
                        <th>Audience Member</th>
                        <th>Review</th>
                        <th>stars</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for review in audience_reviews %}
                    <tr>
                        <td>{{review.idAudienceReview}}</td>
                        <td>{{review.idMovie}}</td>
                        <td>{{review.idAudience}}</td>
                        <td>{{review.review}}</td>
                        <td>{{review.stars}}</td>
                        <td>
                            <a href="{{ url_for('update_audience_review_page', idAudienceReview=review.idAudienceReview) }}">
                                <button style="background-color: greenyellow;" type="button">Edit</button>
                            </a>
                            <form action="{{ url_for('delete_audience_review_route', idAudienceReview=review.idAudienceReview) }}" method="POST" style="display:inline;">
                                <button style="background-color: red;" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Insert Audience Review</h2>
        <form action="{{ url_for("audience_reviews_page")}}" method="POST">

            <label for="movie">Movie:</label>

            <select name="movie" id="movie">
                {% for movie in movies %}
                <option value="{{movie.idMovie}}">{{movie.title}}</option>
                {% endfor %}
            </select>

            <label for="audience">Audience:</label>

            <select name="audience" id="audience">
                {% for audience in audiences %}
                <option value="{{audience.idAudience}}">{{audience.firstName}}</option>
                {% endfor %}
            </select>

            <label for="review">Review:</label>
            <input type="text" id="review" name="review" placeholder="review">

            <label for="stars">Stars:</label>
            <input type="number" id="stars" name="stars" placeholder="stars(1-5)">

            <button type="submit">Add Review</button>
        </form>
    </main>
</body>

</html>