<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>
    <header>
        <h1>Top 50 Movies of the 2000s</h1>
    </header>

    <nav>
        <a href="/">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
        <a href="/actors">Actors</a>
        <a href="/audiences">Audiences</a>
        <a href="/audience_reviews">Audience Reviews</a>
        <a href="/movies_has_directors">Movies_has_Directors</a>
        <a href="/movies_has_actors">Movies_has_Actors</a>
    </nav>

    <main>
        <h2>This is the Directors page</h2>
        <table>
            <thead>
                <tr>
                    <th>idDirector</th>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>middleName</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for director in directors %}
                <tr>
                    <td>{{director.idDirector}}</td>
                    <td>{{director.firstName}}</td>
                    <td>{{director.lastName}}</td>
                    <td>{{director.middleName}}</td>
                    <td>
                        <a href="{{ url_for('update_director_page', idDirector=director.idDirector) }}">
                            <button style="background-color: greenyellow;" type="button">Edit</button>
                        </a>
                        <form action="{{ url_for('delete_director_route', idDirector=director.idDirector) }}" method="POST" style="display:inline;">
                            <button style="background-color: red;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Insert Director</h2>
        <form action="{{ url_for("directors_page")}}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="firstname">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="lastname">

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" placeholder="middlename">

            <button type="submit">Add Director</button>
        </form>
    </main>
</body>

</html>