<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>

<body>

    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audience">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
        </nav>
    </div>

    <main>
        <h2>This is the Directors page</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Director ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Movies Directed</th>
                </tr>
            </thead>

            <tbody>
                {% for director in directors %}
                <tr>
                    <td>{{director.idDirector}}</td>
                    <td>{{director.firstName}}</td>
                    <td>{{director.lastName}}</td>
                    <td>{{director.middleName}}</td>
                    <td>[{{movie_titles[intersection_data[director.idDirector - 1].idMovie - 1].title}}]</td>
                    <td>
                        <button onclick="" style="background-color: greenyellow;" type="submit">Edit</button>

                        <button style="background-color: red;" type="submit">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Insert Director</h2>
        <form action="{{ url_for("directors_page")}}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="firstname">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" placeholder="lastname">

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" placeholder="middlename">

            <button type="submit">Add Director</button>
        </form>
    </main>
</body>

</html>