<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>
<body>
    
    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audiences">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
            <form action="{{ url_for('reset_db_route') }}" method="POST" style="display:inline;">
                <button style="background-color: grey; color: white" type="submit">Reset Database</button>
            </form>
        </nav>
    </div>

    <main>
        <h2>This is the Genres page</h2>
        <div id="table-container" style="width: 50%; margin: auto;">
            <table>
                <thead>
                    <tr>
                        <th>Genre ID</th>
                        <th>Category</th>
                    </tr>
                </thead>

                <tbody>
                {% for genre in genres %}
                <tr>
                    <td>{{genre.idGenre}}</td>
                    <td>{{genre.category}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>