<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 50 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>
<body>
    
    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audience">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
        </nav>
    </div>

    <main>
            <div style="display: grid;">
                <h1>Welcome to the Top 50 Movies List</h1>
                <p style="width: 70%;">
                    PopularMovies Inc. is a trusted resource that helps movie fanatics seek information
                    on the top 50 highest-rated films from the 2000s. Our database system streamlines this
                    process by providing an individual with all the information they may need about a film:
                    the title, release year, genre, a brief description of the film (spoiler-free, of course!),
                    director, actors, and personal anecdotes from verified audience members. Without requirements
                    for user authentication, any personal input, rating, or review in our database is encouraged
                    from users, as it can impact the specific movie’s placement in our top 50 list; however, a
                    user can only leave at most one review for every movie.
                </p>
                <ul style="display: grid; gap: 10px">
                    <li><a href="/">Home</a> - Landing page for the website containing the overview, page descriptions, and navigation links.</li>
                    <li><a href="/movies">Movie List</a> - Provides a list of the Top 50 Movies from the 2000s, including each movie's title, description, rating, and more.</li>
                    <li><a href="/directors">Directors</a> - Showcases a list of all the directors that created at least one movie from the Top 50 Movies list.</li>
                    <li><a href="/actors">Actors</a> - Lists out all of the actors that participated in the making of at least one movie from the Top 50 Movies list.</li>
                    <li><a href="/genres">Genres</a> - Includes all genre categories that at least one film from the Top 50 Movies list falls under.</li>
                    <li><a href="/audience">Audience Members</a> - Shows the population of audience that watched at least one of the movies from the Top 50 Movies list.</li>
                    <li><a href="/audience_reviews">Audience Reviews</a> - A comprehensive list of reviews left under a few movies from the Top 50 Movies list by the audience population.</li>
                </ul>
            </div>
    </main>
</body>
</html>