<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script type="module" src="../static/scripts/backend.py"></script>
</head>
<body>
    <header>
        <h1>Top Movies of the 2000s</h1>
    </header>
    
    <nav>
        <a href="/">Movies</a>
        <a href="/genres">Genres</a>
        <a href="/directors">Directors</a>
        <a href="/actors">Actors</a>
        <a href="/audiences">Audiences</a>
        <a href="/audience_reviews">Audience Reviews</a>
        <a href="/movies_has_directors">Movies_has_Directors</a>
        <a href="/movies_has_actors">Movies_has_Actors</a>
    </nav>

    <main>
        <h2>This is the Movies_has_Actors page</h2>
        <div id="table-container">
            <table>
                <thead>
                    <tr>
                        <th>idMovies_has_Actors</th>
                        <th>idMovie</th>
                        <th>idActor</th>
                    </tr>
                </thead>

                <tbody>
                {% for result in results %}
                <tr>
                    <td>{{result.idMovies_has_Actors}}</td>
                    <td>{{result.idMovie}}</td>
                    <td>{{result.idActor}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>