<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Movies</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div id="nav-container">
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movie List</a>
            <a href="/directors">Directors</a>
            <a href="/actors">Actors</a>
            <a href="/genres">Genres</a>
            <a href="/audiences">Audience Members</a>
            <a href="/audience_reviews">Audience Reviews</a>
            <form action="{{ url_for('reset_db_route') }}" method="POST" style="display:inline;">
                <button style="background-color: grey; color: white" type="submit">Reset Database</button>
            </form>
        </nav>
    </div>

    <main>
        <h2>Top 10 Movies</h2>
        <div id="table-container">
            
            <table>
                <thead>
                    <tr>
                        <th>Movie ID</th>
                        <th>Title</th>
                        <th>Year of Release</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th>Directors (From "Directors" Table)</th>
                        <th>Actors (From "Actors" Table)</th>
                        <th>Average Rating (1-10)</th>
                        <th>Edit / Delete Row</th>
                    </tr>
                </thead>

                <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{movie.idMovie}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.releaseYear}}</td>
                    <td>{{genres_lookup[movie.idGenre]}}</td>
                    <td>{{movie.description}}</td>
                    <td>
                        [
                        {% for entry in directors_intersection_data %}
                            {% if entry.idMovie == movie.idMovie: %}
                                {% for director in directors %}
                                    {% if director.idDirector == entry.idDirector: %}
                                        {{director.firstName + " " + director.lastName + ";"}}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        ]
                    </td>
                    <td>
                        [
                        {% for entry in actors_intersection_data %}
                            {% if entry.idMovie == movie.idMovie: %}
                                {% for actor in actors %}
                                    {% if actor.idActor == entry.idActor: %}
                                        {{actor.firstName + " " + actor.lastName + ";"}}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        ]
                    </td>
                    <td>{{movie.averageRating}}</td>
                    <td>
                        <a href="{{ url_for('update_movie_page', idMovie=movie.idMovie) }}">
                            <button style="background-color: greenyellow;" type="button">Edit</button>
                        </a>
                        <form action="{{ url_for('delete_movie_route', idMovie=movie.idMovie) }}" method="POST" style="display:inline;">
                            <button style="background-color: red;" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <form action="{{ url_for("movies_page")}}" method="POST">
            <label for="title">Movie Title:</label>
            <input type="text_input" id="title_input" name="title_input" required>

            <label for="title">Year of release:</label>
            <input type="number" id="year_input" name="year_input" required>

            <label for="genre">Movie genre:</label>            
            <select id="genre_selected" name="genre_selected" required>
                {% for genre in genres %}
                    <option value="{{genre.idGenre}}">{{genre.category}}</option>
                {% endfor %}
            </select>
            
            <label for="description">Description:</label>
            <input type="text" id="description_input" name="description_input" required>

            <label for="directors">Directors (hold down CTRL to select multiple):</label>
            <select id="directors_selected" name="directors_selected" multiple>
                {% for director in director_names %}
                    <option value="{{director.idDirector}}">{{director.fullName}}</option>
                {% endfor %}
            </select>
            
            <br>
            <label for="actors">Actors (hold down CTRL to select multiple):</label>
            <select style="margin-top: 20px;" id="actors_selected" name="actors_selected" multiple>
                {% for actor in actor_names %}
                    <option value="{{actor.idActor}}">{{actor.fullName}}</option>
                {% endfor %}
            </select>

            <label for="rating">Average Rating:</label>
            <input type="number" id="rating_input" name="rating_input" required>

            <button type="submit">Add Movie</button>
        </form>
    </main>
</body>
</html>