<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Audience</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Top Movies of the 2000s</h1>
    </header>
    
    <main>
        <h2>Update Movie</h2>
        <form action="{{ url_for('update_movie_page', idMovie=movie.idMovie) }}" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{movie.title}}" required>

            <label for="releaseYear">Release Year:</label>
            <input type="text" id="releaseYear" name="releaseYear" value="{{movie.releaseYear}}" required>

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="{{movie.description}}">

            <label for="averageRating">Average Rating:</label>
            <input type="text" id="averageRating" name="averageRating" value="{{movie.averageRating}}" required>

            <button type="submit">Update Movie</button>
            <a href="{{ url_for('movies_page') }}"><button type="button">Cancel</button></a>
        </form>
    </main>
</body>

</html>

