<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Director</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>Top 10 Movies of the 2000s</h1>
    </header>

    <main>
        <h2>Update Director</h2>
        <form action="{{ url_for('update_director_page', idDirector=director.idDirector) }}" method="POST">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" value="{{director.firstName}}" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" value="{{director.lastName}}" required>

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName" value="{{director.middleName}}">

            <button type="submit">Update Director</button>
            <a href="{{ url_for('directors_page') }}"><button type="button">Cancel</button></a>
        </form>
    </main>
</body>

</html>